{% extends "shop/base/base.html" %}
{% block title %}
Orders
{% endblock %}
{% block head %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Assistant');

    body {
        background: #eee;
        font-family: Assistant, sans-serif;
    }

    .cell-1 {
        border-collapse: separate;
        border-spacing: 0 4em;
        background: #fff;
        border-bottom: 5px solid transparent;
        /*background-color: gold;*/
        background-clip: padding-box;
    }

    thead {
        background: #dddcdc;
    }

    .toggle-btn {
        width: 40px;
        height: 21px;
        background: grey;
        border-radius: 50px;
        padding: 3px;
        cursor: pointer;
        -webkit-transition: all 0.3s 0.1s ease-in-out;
        -moz-transition: all 0.3s 0.1s ease-in-out;
        -o-transition: all 0.3s 0.1s ease-in-out;
        transition: all 0.3s 0.1s ease-in-out;
    }

    .toggle-btn>.inner-circle {
        width: 15px;
        height: 15px;
        background: #fff;
        border-radius: 50%;
        -webkit-transition: all 0.3s 0.1s ease-in-out;
        -moz-transition: all 0.3s 0.1s ease-in-out;
        -o-transition: all 0.3s 0.1s ease-in-out;
        transition: all 0.3s 0.1s ease-in-out;
    }

    .toggle-btn.active {
        background: blue !important;
    }

    .toggle-btn.active>.inner-circle {
        margin-left: 19px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="rounded">
                <div class="table-responsive table-borderless">
                    <table class="table">
                        <thead>
                            <tr>
                                
                                <th>Order #</th>
                                <th>Product name</th>
                                <th>Total</th>
                                <th>Status</th>
                                <th>Ordered On</th>
                            
                            </tr>
                        </thead>
                        {%for i in order_history%}
                        {% with index=forloop.counter %}
                            <tbody class="table-body">
                                <td>000{{i.id}}</td>
                                {%for j in orders%}
                                    {% if forloop.counter == index %}
                                        <td>{{j.product}}</td>
                                        <td>{{j.price}}}</td>
                                    {% endif %}
                                {%endfor%}
                                
                                <td><span class="badge badge-success">Fullfilled</span></td>
                                
                                
                                <td>{{i.created}}</td>
                               
                                <td><i class="fa fa-ellipsis-h text-black-50"></i></td>

                            </tr>
                            
                        
                          
                           
                           
                        </tbody>
                        {% endwith %}
                        {%endfor%}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}